* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #020b2f;
    color: white;
}

header {
    padding: 75px 24px;
}

ul {
    list-style: circle;
}

.navcard {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-bottom: auto;
    }

    h1 {
        margin: auto;
    }

    h4 {
        margin: auto;
    }

    div {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin: 30px;
    }

    img {
        width: 200px;
        height: auto;
        /* Vous pouvez aussi ajouter d'autres styles comme border-radius pour une photo arrondie */
        border-radius: 30%;
        /* Pour une photo de profil ronde */
    }
}

.nav {
    display: flex;
    position: fixed;
    top: 14px;
    width: 50%;
    justify-self: anchor-center;
}



.imgcard {
    display: flex;
    justify-content: center;
    width: fit-content;
    justify-content: center;
    margin: auto;
    padding: 12px 24px;
    border-radius: 50px;
    gap: 35px;
    background: #5263ff4a;
    backdrop-filter: blur(4px);
    box-shadow: 0 12px 15px #00000033;
    border: #5263ff63 solid 2px;

    img {
        width: 25px;
        height: 25px;
        display: flex;
        align-self: anchor-center;

    }
}

.button {
    background: #5263ff;
    padding: 10px 20px;
    border-radius: 21px;
    text-decoration: none;
    height: fit-content;
    color: #111327;
    border: #5263ff 2px solid;
}

.button.secondary {
    background: transparent;
    color: #5263ff;
    width: fit-content;
    display: flex;
    justify-self: center;
    margin-left: auto;

}

.cardtitle {
    padding: 60px;
    text-align: center;

    p {
        margin: auto;
    }

    h2 {
        margin: auto;
    }


}

.Card {
    display: flex;

}

.Conteneurlogoc {
    display: flex;
    gap: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.cardlogo {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
    padding: 30px;
}

.logoC {
    border: #5263ff 2px solid;
    border-radius: 21px;
    padding: 24px;
    background-color: #5a5386;

    p {
        margin: auto;
    }

    h4 {
        margin: auto;
    }

    img {
        padding: 10px;
        gap: 11px;
        width: 30px;
    }
}

.logoCP {
    border: #5263ff 2px solid;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 21px;
    padding: 24px;
    background-color: #5a5386;

    p {
        margin: auto;
    }

    h4 {
        margin: auto;
    }
}

#parcours {
    .cardlogo {
        flex-wrap: wrap;

    }

    .small {
        flex-grow: .5;
        max-width: 30%;
    }

    .large {
        flex-grow: 1;
        max-width: 60%;
    }

}

.contacter-moi {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 30px;
}

.contactercard {
    flex-direction: column;
    padding: 15px;
    display: flex;
    width: 300px;
    text-align: center;
}

.contactlogo {

    flex-direction: column;
    display: flex;
    padding: 35px;
    border-radius: 25px;
    gap: 35px;
    background: #5263ff4a;
    backdrop-filter: blur(4px);
    box-shadow: 0 12px 15px #00000033;
    border: #5263ff63 solid 2px;
    margin-bottom: 40px;

    img {
        width: 25px;
        height: 25px;
        place-self: center;
    }
}

.formulaire {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        padding: 20px;
    }

    textarea {
        display: flex;
        margin: 5px;
        padding: 5px 11px;
        background: #5263ff4a;
        backdrop-filter: blur(4px);
        box-shadow: 0 12px 15px #00000033;
        border: #5263ff63 solid 2px;
        border-radius: 20px;
        height: 189px;

        
    }

}

.form-example {
    margin: 5px;
    padding: 20px 55px;
    background: #5263ff4a;
    backdrop-filter: blur(4px);
    box-shadow: 0 12px 15px #00000033;
    border: #5263ff63 solid 2px;
    border-radius: 20px;
}

#mesg {

    display: flex;
    margin: 5px;
    padding: 5px 11px;
    background: #5263ff4a;
    backdrop-filter: blur(4px);
    box-shadow: 0 12px 15px #00000033;
    border: #5263ff63 solid 2px;
    border-radius: 20px;
    width: fit-content;
}